doctype 5
html(lang="en")
  head
    title Orgazers
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/underscore.js')
    script(type='text/javascript')
      $(function(){
        $(".for").on('click', ".show-repos", function(){
          $('.repos').slideDown()
          $(this).removeClass('show-repos').addClass('hide-repos');
        });
        $(".for").on('click', ".hide-repos", function(){
          $('.repos').slideUp()
          $(this).removeClass('hide-repos').addClass('show-repos');
        });
        $("span.no-watchers").tooltip({placement: 'left', title: 'No Stargazers'})
        $(".pull-out").click(function(){
          if($(".pull-out span").text() == "?"){
            $(".info").animate({
              left: 0
            });
            $(".pull-out span").html("◀").css("font-size","24px");
          }
          else {
            $(".info").animate({
              left: "-370px"
            });
            $(".pull-out span").html("?").css("font-size","48px");
          }
        })
      })

  body.tiles
    .container
      .navbar
        .navbar-inner
          .brand Orgazers
      form.for(action="for")
        if current_user
          .logout
            img(src=current_user.avatar_url, width="40")
            strong #{current_user.login}
            a(href="/logout") Sign out
            - if (repos.length)
              ul.repos
                - sortedRepos = repos.sort(function(a,b){if(a.watchers > b.watchers){return -1}else if(a.watchers < b.watchers){return 1}else{return 0}})
                - sortedRepos.forEach(function(repo){
                  li
                    - if (repo.watchers == 0)
                      span.no-watchers= repo.name
                    - else
                      a(href="/for?user=#{current_user.login}&repo=#{repo.name}")= repo.name
                - })
              span.repos-btn.show-repos My Repositories
        else
          .login
            strong You are limited to repos with #{remaining} stargazers
            br
            span login with
            a(href="/github")
              img(src="/img/octocat.png", width="20")
            span to get raise your limit
        div
          input(type="text", name="user", placeholder="User")
        hr
        div
          input(type="text", name="repo", placeholder="Repo")
        hr
        div
          input.btn(type="submit", value="List Organizations")
    .info
      h2 What the hell is orgazers?
      p Orgazers is a neat way to see the organizations belonging to the users who are following one of your github repos.
      h2 Why did I make this?
      p I got an acheivement for having a member of the github team following one of my repos. I wondered.. who? Then I wondered.. What other organizations have members following one of my repos?
      .pull-out
        span ?
    a(href="https://github.com/jisaacks/orgazers")
      img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png", alt="Fork me on GitHub")